<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</property>

        <mapping class="org.example.bookstore_app.model.Book"/>
        <mapping class="org.example.bookstore_app.model.BookCopy"/>
        <mapping class="org.example.bookstore_app.model.BookOrder"/>
        <mapping class="org.example.bookstore_app.model.BookOrderItem"/>
        <mapping class="org.example.bookstore_app.model.Request"/>
    </session-factory>
</hibernate-configuration>